<h1>All Pet Shops</h1>

<% @shops.each do |shop| %>
  <h2><%= shop.name %></h2>
  <ul>
  <li><%= "Average Puppy price $#{shop.average_price}" %></li>
  <li><%= link_to shop.name, shop_path(shop)%></li>
</ul>
<% end %>
